body{
    font-family: Helvetica, sans-serif;
}

#rsrs{
    width: auto;
    height: auto;
    line-height: auto;
    text-transform: uppercase;
    text-align: end;/* teste */
    position: absolute;
    right: 0;
    background: #e3e3e3;
    padding: 10 20px;
    cursor: pointer;
}

header nav ul{
    list-style: none;
    padding-left: 0;
}

header nav ul li{
    display: inline-block;
    margin-right: 10px;
}

header nav ul li a{
    font-size: 10px;
    color: #000000;
    text-decoration: none;
}

header nav ul li a:hover{
    text-decoration: underline;
}

