.body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
  }
  
  .layout {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 2%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
  }
  
  .header {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 1px #E7E7E7;
    padding-bottom: 5px;
  }
  
  .menu-principal {
    display: grid;
    grid-template-columns: 20% 80%;
  
  }
  
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 15px;
    list-style-type: none;
    font-weight: bold;  
    padding-left: 0;
  }
  
  .menu li{
    color: #000000;
    font-family: 'Poppins', sans-serif;
    border-left: 2px solid #0078A7;
    padding-left: 8%;
  }
  
  .centro { 
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: 1fr;
  }
  
  .imgCentro {
    position: relative;
    object-fit: cover;
  }
  
  .baixo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2%;
    background-color: #2196F3;
    font-family: 'Poppins', sans-serif;
  
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  .formulario{
    padding: 5px;
    text-align: end;
  }
  
  .button {
    background-color: white; 
    color: rgb(102, 97, 97); 
    border: 2px solid rgb(102, 97, 97);
    padding: 5px 25px;
    font-size: 12px;
    letter-spacing: 0.1em;
  }
  
  .fa-facebook{
    font-size: 21.67px;
    color: #0078A7;
    padding: 8px;
  }
  
  .fa-instagram {
    font-size: 21.67px;
    color: #0078A7;
    padding: 8px;
    border-left: 1px solid #E7E7E7;
  }
  .fa-youtube {
    font-size: 21.67px;
    color: #0078A7;
    padding: 8px;
    border-left: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
  }